*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background:linear-gradient(to right top,#f86b6b,#338ff1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrbox {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 25px -10px rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  padding: 50px 30px;
}

.qrbox textarea:focus {
  border: 3px solid #07f49e;
}

img {
  height: 300px;
  width: 300px;
  padding: 1rem;
  border: 3px solid #006eff;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

textarea {
  outline: none;
  height: 100px;
  padding: 1rem;
  border: 3px solid #006eff;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

button {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #006eff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #07f49e;
  box-shadow: 0 10px 25px -10px rgba(0,0,0,0.7);
}

#toast {
  position: absolute;
  bottom: 0;
  color: #fff;
  border-radius: 5px;
  padding: 15px 50px;
  background: #07f49e;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 10px 25px -10px #07f49e;
  transition: 0.3s;
}
#toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}
