*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: rgb(37, 36, 36);
  display: grid;
  justify-content: center;
  align-items: center;
}

.qrbox {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 10px;
  overflow: hidden;
}

img {
  height: 300px;
  width: 300px;
  padding: 1rem;
  border: 2px solid #006eff;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

textarea {
  outline: none;
  height: 100px;
  padding: 1rem;
  border: 2px solid #4456ff;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

button {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #5b58ff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #00c1fc;
}

#toast {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  padding: 15px 50px;
  background: #07f49e;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 10px 25px -10px #07f49e;
  transition: 0.3s;
}
#toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}
